
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Mulish', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
    overflow: scroll;
    background-image: url('https://assets.vogue.in/photos/5ce412599cc0c0b8f5f9b4bf/4:3/w_1440,h_1080,c_limit/Everything-you-need-to-know-before-watching-Marvel-movies-this-year.jpg');
}

body::-webkit-scrollbar {
    display: none;
}

nav{
   
    background-color:  rgb(248, 102, 102);  
    padding: 0%;
    margin: 0%;
    display: flex;
    
}
.container-nav{
    display: flex;
    width: 100%;
    
}
#title{
    display: flex;
    
    justify-content: center;
}
#navbar-brand{
  
    padding: 1%;
    color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.head{
    background-color: rgb(237, 237, 136);
    margin: 1%;
    padding: 0.5%;
    text-align: center;
    border-radius: 10px;
    width: 70%;
}
a{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-decoration: none;   
}
a:hover{
    color:lightgray
}
.container-data{
    width: 100%;
    display: flex;
    justify-content: center;
}
#superhero-list{
    width: 98%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-evenly;
}
#superhero-list::-webkit-scrollbar {
    display: none;
}

#superhero{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 60vh;
    flex-wrap: wrap;
}

#info{
    background: rgb(201, 211, 241);
    background: linear-gradient(90deg, rgba(201, 211, 241, 0.8323704481792717) 0%, rgba(144, 148, 231, 0.7175245098039216) 50%, rgba(163, 162, 232, 0.5830707282913166) 100%);
    border: 2px solid rgb(0, 0, 0); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    
}




#img-cont{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
#img-cont img{
    width: 100%;
    height: 100%;
}
#name,#id,#comic,#series,#stories{
    color: #030303;
}
#buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 8%;
    padding: 0.5%;
}
#buttons button{
    background-color: rgb(130, 41, 255);
    color: white;
    border: none;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
}